.music {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.music .musicgrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
  margin: 0 auto;
  padding: 50px;
}

.music .box {
  display: flex;
  flex-direction: column;
  max-width: 30vw;
  gap: 10px;

  background-color: #426B1F;
  padding: 10px;
  border-radius: 10px;

  box-shadow: 0 0 8px #AAAAAA;
}

.music h2 {
  text-align: center;
  margin: 0;
  color: white;
}

.music img {
  border-radius: 5px;
}

.music .buttonrow {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.music .buttonrow button {
  background-color: #2a2a2a;
  padding-left: 20px;
  padding-right: 20px;
}

.music .buttonrow button:hover {
  background-color: black;
}

.music .buttonrow .playpause {
  flex: 0 0 0;
}

.music .buttonrow .select {
  flex: 1 1 0;
}

@media only screen and (max-width: 600px) {
  .music .musicgrid {
    grid-template-columns: repeat(1, 1fr);
  }

  .music .box {
    max-width: 60vw;
  }
}
