.options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options h1 {
  color: #2a2a2a;
  margin: 40px 15px 0;
  text-align: center;
}

.options .optionsgrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  gap: 50px;
  margin: 0 auto;
  padding: 50px;
}

.options .box {
  display: flex;
  flex-direction: column;
  gap: 10px;

  background-color: #426B1F;
  padding: 10px;
  border-radius: 10px;

  box-shadow: 0 0 8px #AAAAAA;
}

.options .box h2 {
  text-align: center;
  margin: 0;
  color: white;
}

.options img {
  object-fit: cover;
  aspect-ratio: calc(1440/1080);
  border-radius: 5px;
}

.options .buttonrow {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.options button {
  background-color: #2a2a2a;
  padding-left: 20px;
  padding-right: 20px;
}

.options button:hover {
  background-color: black;
}

.options .playpause {
  flex: 0 0 0;
}

.options .select {
  flex: 1 1 0;
}

@media only screen and (max-width: 600px) {
  .options .optionsgrid {
    grid-template-columns: repeat(1, 1fr);
  }

  .options .box {
    max-width: 60vw;
  }
}
