/* Center the entire page */
#home-page {
  height: 100vh;
  /* Full height of the viewport */
  display: flex;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  flex-direction: column;
  /* Stack content vertically */
  text-align: center;
  background-color: #f0f0f0;
  /* Optional background color */
}

/* Container that holds the timer */

#app {
  position: relative;
}

#app div.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -100;
}

#app div.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#app div.options-popup-container {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #00000088;

  display: flex;
  justify-content: center;
  align-items: center;
}

#app div.options-popup {
  width: 80%;
  height: 80%;
  max-width: 800px;
  min-width: 400px;
  max-height: 500px;
  min-height: 250px;
  background-color: white;

  border-radius: 10px;
  position: relative;
}

#app div.options-popup div.close-container {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 10px 0;
}

#app div.options-popup .close {
  width: 30px;
  padding: 0;
  aspect-ratio: 1;

  border-radius: 8px;
  font-size: 25px;
}

#app div.options-popup .options-container {
  overflow: scroll;
  width: 100%;
  height: 100%;
}

#app div.options-buttons {
  display: flex;
  position: absolute;
  right: 0;
  flex-direction: row;
  justify-content: right;
  padding: 30px 30px 0;
  gap: 30px;
}

#app div.options-buttons button {
  padding: 10px;
  aspect-ratio: 1;
}

#app div.options-buttons img {
  max-width: 35px;
  margin: 0;
}

.timer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  box-sizing: border-box;
  overflow: visible;
}

/* Timer circle container */
.base-timer {
  position: relative;
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Timer path circle (the base path) */
.base-timer__circle {
  fill: none;
  stroke: none;
}

/* Elapsed time circle (white part) */
.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: white;
}

/* Timer label (the countdown text) */
.base-timer__label {
  position: absolute;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: white;
  font-weight: bold;

  text-shadow: 0 0 15px black;
}

/* Remaining time circle (color changing part) */
.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  stroke: currentColor;
}

/* Color changes for remaining time */
.base-timer__path-remaining.green {
  color: #426B1F;
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

/* Flip the SVG horizontally */
.base-timer__svg {
  transform: scaleX(-1);
}

/* Timer input section */
.time-input {
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Style for the input field */
.time-input input {
  font: inherit;
  font-size: 18px;
  padding: 5px;
  width: 80px;
  height: 25px;
  text-align: center;

  border: 0;
  background-color: transparent;
  color: white;
  text-shadow: 0 0 8px black, 0 0 8px black;
}

.time-input input:hover,
.time-input input:focus {
  outline: 2px solid #426B1F;
  border-radius: 4px;
  background-color: #426B1F88;
}

/* Timer control buttons section */
.timer-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Style for the buttons */
.timer-controls button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}


h1 {
  color: #426B1F;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}


button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #426B1F;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
}

button:hover {
  background: #2d4a14;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.timer-label {
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-shadow: 0 0 8px black, 0 0 8px black;
}

/*CSS FOR MESSAGE/BUTTON THAT POPS UP AFTER TIMER IS DONE*/
.relax-message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #f0f8ff; /* Light blue background for a calming effect */
  font-family: 'Arial', sans-serif;
  z-index:10000;
}

.relax-message-container h1 {
  font-size: 3rem;
  color: #426B1F; /* Calm green color */
  margin-bottom: 1rem;
}

.relax-message-container p {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 2rem;
}

.return-timer-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: white;
  background-color: #426B1F;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.return-timer-button:hover {
  background-color: #2d4a14;
}
